<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.dchbx.coveragehq"
    >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25"
        />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.acc"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BrokerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.dchbx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"
                />
        </provider>

        <activity android:name=".RootActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label=""
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            />
        <activity android:name=".CarriersActivity"/>
        <activity
            android:name=".EmployerDetailsActivity"
            android:label=""
            />
        <activity
            android:name=".EmployeeDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".InsuredDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".SummaryOfBenefitsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".SummaryOfBenefitsActivityHacked"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".planshopping.FamilyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".planshopping.PremiumAndDeductibleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".planshopping.PlanSelector"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".PlanDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".AppConfigActivity"
            android:label="@string/title_activity_app_config"
            android:theme="@style/AppTheme"
            >
        </activity>
        <activity
            android:name=".ridp.AcctCreateAfterPlanShopping"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctCreateNewPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctAddress"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctSsn"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctDateOfBirth"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.RidpQuestionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctAuthConsent"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctSystemFoundYou"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctSsnWithEmployer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".PlanShoppingChoicesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctPreAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".uqhp.UqhpConfirm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctGenderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctRidpUserNotFound"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctRidpConnectionFailure"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctRidpWrongAnswersRecoverable"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ridp.AcctRidpWrongAnswersLockout"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".HelloActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".WelcomeBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".ChooseFinancialAssistanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".YourMobilePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".StateInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".financialeligibility.FamilyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity
            android:name=".financialeligibility.EditPersonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity android:name=".financialeligibility.SectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity android:name=".financialeligibility.CheckedListDialog"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".financialeligibility.RelationshipsActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".financialeligibility.EditRelationshipActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".financialeligibility.AttestationActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".planshopping.SubmitApplicationActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".planshopping.SelectedPlanActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.OpenEnrollmentClosedActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.DentalCoverageActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.IWantToActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.CoverageThisYearActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.FullPricePlanActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.HelpPayingActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.MobilePasswordActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.ResumeApplicationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            />
        <activity android:name=".financialeligibility.EligibleResultsActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".financialeligibility.IneligibleResultsActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".planshopping.ThanksApplicationActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
        <activity android:name=".startup.CongratsActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:label=""
            />
    </application>

</manifest>